body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.warning-text {
  color: #9e2c24;
}

.error-bg {
  background-color: #f7a1a1;
}

tr.validation-severe {
  background-color: #fc7676 ;
}

tr.validation-warning {
  background-color: #fff48f;
}

.bg-type-city {
  background-color: #F89FAF;
}
.bg-type-city-part {
  background-color: #E3904A;
}
.bg-type-region {
  background-color: #36A8CA;
}
.bg-type-government {
  background-color: #78AA94;
}
.bg-type-unknown {
  background-color: #c7c5c5;
}